<li><%= link_to 'Dashboard', root_path %></li>
<li><a href="#">Co-ops</a></li>
<li><a href="#">Loans</a></li>
<li><a href="#">Calendar</a></li>
<li><a href="#">Members</a></li>
<li><a href="#">Reports</a></li>
