@import "../colors";

.admin-dashboard {
  .content {
    h1, h2 {
      margin: 0;
      padding-bottom: .75em;
    }

    .section {
      padding: 1em;

      header {
        display: flex;
        margin-bottom: .25em;
        justify-content: space-between;
        align-items: flex-end;
      }

      h2 {
        font-size: 1.5em;
      }

      h3 {
        font-size: 1.25em;
      }
    }

    #calendar {
      .fc-toolbar {
        display: none;
      }
    }

    .log-list {
      .show-actions {
        margin: 0;
      }
    }

    .logs-index.post-list {
      .post {
        padding: 10px;
      }
    }

    .recent-projects {
      #completion_status {
        display: inline-block;
        width: auto;
      }

      table {
        background: $white;

        // Hide pagination and pagination_status containers
        tfoot {
          display: none;
        }
      }
    }
  }
}
