.admin-dashboard {
  .content {
    .row {
      margin-bottom: 1em;
    }

    section {
      section {
        h2 {
          font-size: 1.5em;
        }
      }
    }

    #calendar {
      .fc-toolbar {
        display: none;
      }
    }
  }
}
