$green1: rgb(115,200,100);
$green2: rgb(20, 125, 0);
$orange1: rgb(220, 145, 50);
$orange2: rgb(220, 125, 0);
$red1: red;
$yellow1: rgb(205,205,0);
$yellow2: yellow;
$white: white;

$gray1: #eee;
$gray2: rgb(230,230,230);
$gray3: gray;
$black: black;

$late: $yellow2;
$verylate: $orange2;
$superlate: $red1;
$ontime: $green2;
$early: $green1;
