// Manage Loan Questions

.manage-question {
  .allow-attachments {
    .checkbox-only {
      width: 12px;
    }

    label {
      margin: 0;
    }
  }

  .allow-attachments, .loan-types-table {
    margin: 0;

    // Specificity used to override Bootstrap defaults
    tbody {
      tr {
        td {
          border: none;
          vertical-align: middle;
        }
      }
    }
  }

  #custom_field_override_associations {
    margin-bottom: 1em;
  }
}
