.print-view {
  .loan {
    .form-group {
      label, > div {
        display: inline-block;
      }

      label {
        width: 1.5in;
        text-align: left;
      }

      > div {
        width: 6in;
      }
    }

    [data-container='media'] {
      display: none;
    }
  }
}
