.print-view {
  // Just so it doesn't look so bad on the screen before printing
  @media only screen { margin: 10px; }

  [data-container="loan"] {
    .form-group {
      label, div {
        display: inline-block;
      }

      label {
        width: 1.5in;
        text-align: left;
      }

      div {
        // TODO: This is much too general and messes with the progress bar that I added.
        // Furthermore, I don't think this should be needed at all to achieve a good print layout.
        // Should be refactored.
        width: 6in;
      }
    }

    [data-container='media'] {
      display: none;
    }

    .featured-image {
      img {
        display: block;
        width: 70%;
        margin: 0 auto;
      }
    }

    .spreadsheet-links {
      display: none;
    }
  }

  .progress-wrapper {
    display: none;
  }

  .business-model-canvas-wrapper {
    page-break-before: always;
    page-break-after: always;
    height: 10in;
    width: 7.5in;
    overflow: hidden;
  }

  .business-model-canvas {
    width: 10in;
    display: inline-block;

    -ms-transform: translate(7.5in,0) rotate(90deg);
    -webkit-transform: translate(7.5in,0) rotate(90deg);
    transform: translate(7.5in,0) rotate(90deg);
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;

    .canvas-cell.half-height {
      min-height: inherit;
    }
  }
}
