.print-view {
  [data-container="loan"] {
    .form-group {
      label, div {
        display: inline-block;
      }

      label {
        width: 1.5in;
        text-align: left;
      }

      div {
        // TODO: This is much too general and messes with the progress bar that I added.
        // Furthermore, I don't think this should be needed at all to achieve a good print layout.
        // Should be refactored.
        width: 6in;
      }
    }

    [data-container='media'] {
      display: none;
    }

    .featured-image {
      img {
        display: block;
        width: 70%;
        margin: 0 auto;
      }
    }

    .spreadsheet-links {
      display: none;
    }
  }

  .business-model-canvas {
    @media print { page-break-before: always; }
    // transform: rotate(90deg);
    // max-height: 8in;
    // width: 10.5in;

    .canvas-cell, .help-block { font-size: 80%; }
    h4 { font-size: 120%; }

    .canvas-cell.half-height {
      min-height: inherit;
    }
  }
}
