.print-view {
  // Just so it doesn't look so bad on the screen before printing
  @media only screen { margin: 10px; }

  [data-container="loan"] {
    .form-group {
      label, div {
        display: inline-block;
      }

      label {
        width: 1.5in;
        text-align: left;
      }

      div {
        // TODO: This is much too general and messes with the progress bar that I added.
        // Furthermore, I don't think this should be needed at all to achieve a good print layout.
        // Should be refactored.
        width: 6in;
      }
    }

    [data-container='media'] {
      display: none;
    }

    .featured-image {
      display: block;
      height: 3.5in;
      margin: 0 auto;
      text-align: center;
      width: auto;

      img {
        border: 1px solid $gray3;
        display: inline-block;
        height: auto;
        max-height: 100%;
        max-width: 100%;
        width: auto;
      }
    }

    .spreadsheet-links {
      display: none;
    }
  }

  .progress-wrapper {
    display: none;
  }

  $canvas-width: 9.25in;

  .business-model-canvas-wrapper {
    height: $canvas-width;
    width: 7.5in;
    overflow: hidden;
  }

  .business-model-canvas {
    width: $canvas-width;
    display: inline-block;

    -ms-transform: translate(7.5in,0) rotate(90deg);
    -webkit-transform: translate(7.5in,0) rotate(90deg);
    transform: translate(7.5in,0) rotate(90deg);
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;

    .canvas-cell.half-height {
      min-height: inherit;
    }
  }

  .images {
    .image-list {
      align-items: flex-start;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    .img-container {
      border: 1px solid $gray3;
      height: 2in;
      margin: .1in;
      text-align: center;
      width: 3.5in;
    }

    img {
      // Image fills as much as it can vertically and horizontally inside its container
      height: auto;
      max-height: 100%;
      max-width: 100%;
      width: auto;
    }
  }
}
