section.questionnaires {
  .filter-switch {
    text-align: center;
  }

  // Overriding this because it's nice for it to be floated right opposite h2
  .show-actions {
    float: right;
  }

  h2 {
    margin-top: 0;
  }

  .questionnaire-form {
    li {
      min-height: 3em;
      margin-bottom: 1em;
    }

    .question-label {
      margin-bottom: 1em;
    }

    input[type="number"] {
      width: 8em;
    }

    select {
      width: 8em;
    }

    select[data-rating] {
      margin-bottom: 1em;
    }

    .answer {
      font-weight: bold;
    }

    .spreadsheet-links {
      font-size: 12px;
    }

    .spreadsheet iframe {
      width: 100%;
      height: 500px;
      border: 1px solid #ccc;
    }
  }
}
