@import "../colors";

section.questionnaires {
  // Overriding this because it's nice for it to be floated right opposite h2
  .show-actions {
    float: right;
  }

  h2 {
    margin-top: 0;
  }

  li.jqtree_common {
    border: none;
    margin-bottom: 3px;
    padding-bottom: 0.1px; // prevent margin collapse

    &.jqtree-folder.jqtree-closed {
      margin-bottom: 3px;
    }

    h3, h4, h5 { display: inline; }
    h3 { font-size: 20px; }

    ul.jqtree_common {
      margin-left: 30px;
    }

    &.optional-group {
      background-color: hsl(0,0%,96%);
      margin-top: 12px;

      > .jqtree-element > .jqtree-title {
        font-style: italic;
        font-weight: bold;
        color: #888;
      }
    }

    &.question.optional {
      background-color: hsl(0,0%,96%);
    }

    .jqtree-element {
      display: block;

      .question-label {
        display: inline;
      }

      .help-block, .answer, .form-element {
        margin: 10px 0 0 0;
        p:last-child { margin: 0; }
      }

      .form-element {
        display: block;
      }
    }
  }
}

// This is scoped separately because it can appear inside the print view.
.questionnaire-form {
  li {
    min-height: 3em;
    margin-bottom: 1em;
  }

  .question-label {
    margin-bottom: 1em;
    font-weight: bold;
  }

  .help-block {
    font-style: italic;
    font-size: 12px;
    color: #888;
  }

  input[type="number"] {
    width: 8em;
  }

  select {
    width: 8em;
  }

  select[data-rating] {
    margin-bottom: 1em;
  }

  .header {
    text-align: center;
    margin-bottom: 2em;
  }

  .answer {
    margin-left: 1em;
    margin-bottom: 1em;

    &.blank {
      font-style: italic;
    }
  }

  .spreadsheet-links {
    margin-top: 15px;

    .doc-actions {
      a {
        margin-right: 15px;
      }
    }
  }

  .spreadsheet iframe {
    width: 100%;
    border: 1px solid #ccc;
  }

  fieldset {
    padding: 15px;
    border: 1px solid hsl(0,0%,75%);
    margin: 15px 0 0;

    legend {
      font-size: 16px;
      width: inherit;
      border: none;
      padding: 0 5px;
      margin: 0;
    }
  }
}

@media print {
  .questionnaire-form {
    .header {
      page-break-before: always;
    }
  }
}

.admin-embeddable_media {
  #embeddable_media_start_cell,
  #embeddable_media_end_cell {
    width: auto;
  }
}
