.summary-table {
  .group-columns, .group-summary, .group-title {
    font-weight: bold;
  }

  .group-columns, .group-content, .group-summary {
    td:first-child {
      padding-left: 2em;
    }
  }

  .group-columns {
    border-bottom: 1px solid gray;
  }

  .group-summary {
    border-top: 2px solid gray;
  }

  .group-title {
    font-size: 1.25em;
  }

  .table-title {
    font-size: 1.5em;
  }
}
