table.breakeven-table-rampup {
  min-width: 0;
  width: auto;

  th {
    min-width: 11em;
  }

  tbody>tr>td {
    text-align: center;
    vertical-align: top;
  }

  .form-element {
    margin: 0;
  }
}

.editable-table {
  background: $white;
  margin-top: 1em;
  min-width: 60rem;
  table-layout: fixed;
  width: 100%;
  word-wrap: break-word;

  thead {
    tr {
      background: $table-gray;
    }
  }

  td, tr {
    overflow-y: visible;
    width: auto;
  }

  input, input[type="number"], textarea {
    background: none;
    border: 1px solid $gray5;
    border-radius: 0.25em;
    display: block;
    height: 100%;
    max-width: 100%;
    width: 100%;

    &:active,
    &:focus,
    &:hover {
      border-color: $gray4;
    }

    &[disabled] {
      border-color: transparent;

      &:active,
      &:focus,
      &:hover {
        border-color: transparent;
      }
    }
  }

  input[type="number"], input.percentage {
    text-align: right;
  }

  input.quantity {
    font-weight: bold;
  }

  textarea {
    min-height: 3em;
    overflow-y: visible;
    word-wrap: break-word;
  }

  .tooltip-container {
    display: block;
    text-align: right;

    .fa {
      color: $gray6;
    }
  }

  .narrow {
    width: 10%;
  }

  .narrow-fixed {
    width: 5em;
  }

  .wide {
    width: 20%;
  }

  .wide-fixed {
    width: 9em;
  }
}

[data-table="products"] {
  table-layout: fixed;
  width: auto;

  th {
    width: 7em;
  }

  .percentage-of-sales {
    input[type="number"] {
      display: inline-block;
      width: 80%;
    }

    span {
      margin-left: 0.25em;
    }
  }
}

.business-model-canvas {
  border: 1px solid;

  .canvas-row {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    @media only screen and (max-width: 767px) {
      display: block;
    }
  }

  .canvas-col {
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  .canvas-cell {
    border: 1px solid;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 4px;

    &.half-height {
      min-height: 24em;
    }
  }

  h4 {
    display: block;
    margin: 0;
  }

  // Both classes needed here to override specificity :'(
  .canvas-help-block.help-block {
    display: inherit;
    margin-top: 0;
  }

  .canvas-answer {
    margin-top: 10px;
  }

  textarea {
    background: none;
    border: none;
    flex: 1 1 auto;
    min-height: 8em;
    width: 100%;
  }
}

th {
  .ms-tooltip {
    margin-left: 0.25em;
  }
}
