@import "../colors";

.tab-content {
  background-color: $gray5;
}

.tab-pane {
  padding: 1em;

  &.active {
    background: $background-gray;
  }

  &.flush {
    padding: 0;
    background: $white;
  }
}

.nav-tabs > li {
  &.active {
    a, a:hover, a:active, a:focus {
      background: $background-gray;
    }
  }
}

.flush {
  .block {
    &:first-of-type {
      margin: 0;
    }
  }
}
