@import "../colors";

.editable-table {
  table-layout: fixed;
  width: 100%;
  margin-top: 1em;
  background: $white;
  word-wrap: break-word;

  thead {
    tr {
      background: $table-gray;
    }
  }

  td, tr {
    width: auto;
    overflow-y: visible;
  }

  input, input[type="number"], textarea {
    border: none;
    background: none;
    width: 100%;
  }

  input[type="number"] {
    text-align: right;
  }

  textarea {
    overflow-y: visible;
    word-wrap: break-word;
  }

  .narrow {
    width: 10%;
  }

  .wide {
    width: 25%;
  }
}

.business-model-canvas {
  border: 1px solid;

  .canvas-row {
    @media (min-width: 768px) {
      flex-wrap: wrap;
      display: flex;
      align-items: stretch;
      width: 100%;
    }
  }

  .canvas-col {
    flex: 1 1 0;

    display: flex;
    flex-wrap: wrap;
  }

  .canvas-cell {
    width: 100%;
    border: 1px solid;
    padding: 4px;

    &.half-height {
      min-height: 24em;
    }
  }

  h4 {
    display: block;
    margin: 0;
  }

  // Using double class here to override specificity :'(
  .help-block.help-block {
    display: inherit;
    margin-top: 0;
  }

  .canvas-answer {
    margin-top: 10px;
  }
}
