@import "../colors";

.editable-table {
  table-layout: fixed;
  width: 100%;
  margin-top: 1em;
  background: $white;
  word-wrap: break-word;
  min-width: 60rem;

  thead {
    tr {
      background: $table-gray;
    }
  }

  td, tr {
    width: auto;
    overflow-y: visible;
  }

  input, input[type="number"], textarea {
    border: none;
    background: none;
    width: 100%;
  }

  input[type="number"] {
    text-align: right;
  }

  textarea {
    overflow-y: visible;
    word-wrap: break-word;
  }

  .narrow {
    width: 10%;
  }

  .wide {
    width: 20%;
  }
}
