body.admin.print-view.statement {
  width: 100%;
  padding: 2%;
}

.for-statement {
  background-color: #33647E !important; //seedcommons dark blue
  width: 300%;
  font-size: 4em;
 }

.statement-header {
  display: flex;
  align-items: center;
  justify-content: center;
  .header-logo {
    width: 50%;
    margin: 2em;
  }
}

.block-container {
 height: 8em;
}

.statement-block {
  color: #383636; //seedcommons gray
  border: solid 1px #517b91; //seedcommons blue
  padding: 1em;
  margin-bottom: 2em;
  p {
    margin: 0 0 0 2px;
  }
}

.loan-info {
  float: left;
}

.statement-dates {
  float: right;
}

.draft-warning {
  color: #83353b; //red requested by tww
  font-weight: bolder;
  font-size: 18pt;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;

  // START always hide this warning until notice from TWW
  display: none;
  // END always hide this warning until notice from TWW

  width: 100%;
  .fa {
    margin-right: .25em;
    margin-top: -.25em;
  }
}

.loan-info {
  .coop-name {
    font-weight: bold;
  }
}

.statement-dates {
  //float: right;
}

.statement-table {
  margin-top: 2em;
  thead {
    background-color: #517b91; //seedcommons blue
  }
  th.date {
    width: 110px;
  }
}
