@import "colors";

.timeline {
  .action-items, .step-logs {
    text-align: right;
  }

  #adjust-dates-modal {
    .form-item {
      margin: 0 .2em;
    }
  }

  .completion-status {
    .complete {
      color: $success2;
    }
  }

  .first-col {
    padding-left: 0;
  }

  .icon-box {
    font-size: 1.7em;
  }

  .icon-with-text {
    line-height: 2em;

    .fa {
      font-size: .8em;
    }
  }

  .info {
    .info-label {
      color: $gray3;
      font-weight: bold;
    }
  }

  .last-col {
    padding-right: 0;
  }

  .panel {
    border: 1px solid $black;

    &.step {
      border-width: 2px;
      border-radius: 15px;
      border-color: $black;
    }

    &.log {
      border-radius: 0px;
    }
  }

  .status-details {
    .info.row {
      margin: 0 0 .5em 0;
    }
  }

  .step {
    .action {
      margin: .5em;

      &:last-of-type {
        margin-right: 0;
      }
    }

    .title {
      font-weight: bold;
    }
  }

  .tight-block {
    display: block;
    margin: 0;
    padding: 0;
  }

  .timeline-header {
    padding: 1em 0;

    input[type="checkbox"] {
      margin: 0;
      vertical-align: middle;
    }

    input[type="number"] {
      max-width: 5em;
      text-align: center;
    }
  }

  .title {
    margin: 0 0 1em;
    padding: 0;
    font-size: 1.1em;

    .icon {
      margin: 0;
      display: inline-block;
      width: 10%;
      vertical-align: top;

      i {
        font-size: 1.5em;
      }
    }

    .title-text {
      display: inline-block;
      width: 90%;
    }
  }

  .text-left-of-icon {
    margin: 0 .5em 0 0;
  }

  .text-right-of-icon {
    margin: 0 0 0 .5em;
  }
}
