*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
config/database.yml
/public/dev
/public/assets/*
.DS_Store
.idea
*.swp
*.swo
.ruby-version
config/secrets.yml

config/initializers/local_config.rb
coverage/

/app/views/layouts/embedded/*
