.carousel-control {
  top: 50%;
  &, &:link, &:visited, &:active, &:hover {
    color: white;
  }
}
.carousel-inner {
  background-color: black;
}
.carousel-inner .item {
  height: 411px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
/* Landscape phones and down, shrink height of carousel */
@media (max-width: 480px) {
  .carousel-inner .item { height: 250px; }
}
