// Bootstrap Carousel

// Matches border-radius of the status box on the loan's page
$border-radius: 5px;

.carousel {
  background-color: #595959;
  border-radius: $border-radius;

  .carousel-inner {
    .item {
      height: 20em;

      img {
        position: relative;
        overflow-y: hidden;
        vertical-align: middle;
        border-radius: $border-radius;
      }
    }
  }

  .carousel-control-prev, .carousel-control-next, .carousel-indicators {
    &:hover {
      background: rgba(128,128,128,0.5);
      border-radius: $border-radius;
    }
  }

  .carousel-indicators {
    padding: .5em 1em;

    li {
      $circle-size: 1.5em;

      width: $circle-size;
      height: $circle-size;
      border-radius: $circle-size;

      &.active {
        width: $circle-size;
        height: $circle-size;
      }
    }
  }
}
