// TODO: This is an old file and should probably be removed, with styles moved to appropriate places.

/* Additional styles for pages embedded in wordpress - mainly correcting conflicts with wp styles */

select#country {
  height: 40px;
  border-color: #C3C3C3;
  color: #666;
}

div.pagination {
  display: block;
}
