.form-group.row {
  min-height: 2em;
}

.edit-view .form-group.date .form-element {
  width: 30%;
  max-width: 150px;
  display: inline-block;
  padding-right: 10px;
}

// Booleans should not have fixed height/widths. A style from somewhere else is
// trying to impose them on all .form-controls.
.form-group.boolean {
  .form-control {
    height: inherit;
    width: inherit;
  }
}

.form-group textarea.text {
  height: 6em;
}

.form-group.decimal

// Not sure why, but the view-elements where not being hidden for the Loan Criteria form
// unless there is previously defined .edit-view block here
.edit-view {
}

.edit-view, .new-view {
  .form-block, .form-element {
    display: inherit;
  }

  .view-block, .view-element {
    display: none !important;
  }
}

.show-view {
  .view-block, .view-element {
    display: inherit;
  }

  .form-block, .form-element {
    display: none !important;
  }

  .form-horizontal .control-label {
    padding-top: 0;
  }

  abbr[title="required"] {
    display: none;
  }

  // Need to specially hide the label element that Rails inserts for checkboxes,
  // as it makes the element too tall in show mode.
  .form-group.boolean div label {
    display: none;
  }
}

.select2-container {
  width: 100% !important;
  padding: 0;
}

.actions {
  float: right;
  a {
    margin: 0 15px 0 0;
    float: left;
  }
}

.date.required.form-control {
  display: inline-block;
  width: 32%;
  margin-right: 5px;
}

.inline {
  display: inline-block;
  width: auto;
}

// Labels are bold by default.
label.light {
  font-weight: normal;
}
