form {
  .help-block {
    margin-bottom: 0;
    font-size: 12px;
    font-style: italic;
  }

  .read-only {
    margin-bottom: 0;
    padding-top: 7px;
  }
}

.form-group.row {
  min-height: 2em;
}

.edit-view .form-group.date {
  .form-element {
    width: 30%;
    max-width: 150px;
    display: inline-block;
    padding-right: 10px;
  }

  &.two-column-form-element {
    .form-element {
      width: 100%;
    }
  }
}

.form-group.boolean, .form-group .checkbox {
  // Booleans should not have fixed height/widths. A style from somewhere else is
  // trying to impose them on all .form-controls.
  // The .form-group .checkbox selector is for collections with type: :check_boxes
  .form-control {
    height: inherit;
    width: inherit;
  }
}

.form-group.boolean {
  .form-control[type="checkbox"] {
    display: inline-block;
    margin-left: 10px;
  }

  // Align checkbox items with their labels
  label {
    padding-top: 7px;
  }
}

// For collections rendered as type: :check_boxes, the checkboxes and their labels are rendered inside
// span.checkbox. This shows them all on one line.
.form-group span.checkbox {
  display: inline-block;
  margin: 0 10px;
}

.radio input[type=radio] {
  width: inherit;
  display: inline-block;
  height: 14px;
  margin-right: 10px;
  position: relative;
}

.form-group textarea.text {
  height: 6em;
}

// These classes allow toggling of form view and show view.
// Each form field consists of a .form-element (with the actual <input>, etc.)
// and a .view-element (with the read-only attribute data).
// When the user clicks 'edit', the edit-view class is appended to an outer element,
// and these styles thus make the .view-elements disappear and the .form-elements show.
// When the user clicks 'cancel edit', the opposite happens.
.edit-view, .new-view {
  .form-element {
    display: block;
  }

  // We need to list specific tag types here that need to override the default display: block above.
  a {
    &.form-element {
      display: inline;
    }
  }
  input, textarea, select, .fa {
    &.form-element {
      display: inline-block;
    }
  }

  .view-element {
    display: none !important;
  }

  // Form controls are generally tall, so if some text is being displayed where a
  // form control normally is, we need to add some padding.
  .form-horizontal .static-text-as-field {
    padding-top: 7px;
  }

  .form-group.with-info {
    select, input {
      width: auto;
    }

    // Add space between info tooltip and checkbox
    .fa {
      margin-left: 1em;
    }
  }
}

.show-view {
  .view-element {
    display: block;
  }

  // We need to list specific tag types here that need to override the default display: block above.
  a.view-element { display: inline; }

  .form-element, .form-group .checkbox {
    display: none !important;
  }

  // Bootstrap puts a 7px padding-top on labels, which looks good when there are big fat form controls
  // to their right, but not so when we're just showing a bunch of text. So we override it here.
  .form-horizontal .control-label {
    padding-top: 0;
  }

  abbr[title="required"] {
    display: none;
  }

  .form-group.boolean {
    // Need to specially hide the label element that Rails inserts for checkboxes,
    // as it makes the element too tall in show mode.
    div label {
      display: none;
    }
  }

  // Hide hints in show view
  .help-block {
    display: none;
  }

  // Hide documentation popovers
  .ms-documentation {
    display: none;
  }
}

.select2-container {
  padding: 0;
  width: inherit;
}

.actions {
  float: right;
  a {
    margin: 0 15px 0 0;
    float: left;
  }
}

.date.required.form-control {
  display: inline-block;
  width: 32%;
  margin-right: 5px;
}

.inline {
  display: inline-block;
  width: auto;
}

// Labels are bold by default.
label.light {
  font-weight: normal;
}

.instructions {
  padding: .5em 0 0;
  font-size: .9em;
  font-style: italic;
}

.form-horizontal {
  &.form-with-documentation {
    .form-control {
      width: 90%;
    }

    .form-group {
      &.boolean, .checkbox {
        .form-control {
          width: inherit;
        }
      }
    }

    .language-block {
      select.locale {
        width: auto;
      }
    }

    .ms-documentation {
      margin-left: .5em;
    }
  }
}

fieldset {
  &.translatable-summary-and-details {
    border-top: 1px solid $gray2;
    border-bottom: 1px solid $gray2;
    margin-bottom: 1em;

    h4 {
      display: inline-block;
    }
  }
}
