.project-step-form {
  #project_step_scheduled_duration_days, #project_step_old_duration_days {
    width: 6em;
    display: inline-block;
    margin-right: 1em;
  }

  .date_picker.form-control {
    width: 10em;
    display: inline-block;
  }

  #project_step_is_finalized {
    margin: 12px 0 0;
    width: auto;
  }
}
