.transaction-form {
  @media (min-width: $screen-md-min) {
    .control-label {
      padding-top: 0;
    }
  }

  .principal-form-field {
    border-bottom: 1px solid $gray2;
    padding-bottom: 10px;
  }

  .transaction-amount {
    input {
      width: 10em;
    }

    .currency {
      margin-left: 0.5em;
    }
  }
}
