.transaction-form {
  @media (min-width: 768px) {
    .control-label {
      padding-top: 0;
    }
  }

  .transaction-amount {
    input {
      width: 10em;
    }

    .currency {
      margin-left: 0.5em;
    }
  }
}
