.edit-view {
  .form-block {
    display: block;
  }

  .form-element {
    display: inline-block;
  }

  .view-block, .view-element {
    display: none;
  }
}

.show-view {
  .view-block {
    display: block;
  }

  .view-element {
    display: inline-block;
  }

  .form-block, .form-element {
    display: none;
  }
}
