.project-step-form {
  .error_notification {
    display: none;
  }

  textarea {
    resize: vertical;
  }

  .select2 {
    margin-bottom: 10px;
    margin-left: 5px;
  }

  .type {
    margin-bottom: 10px;
    margin-left: 5px;
  }

  .date {
    margin-bottom: 10px;
    margin-left: 5px;
  }

  .finalized {
    margin-left: 5px;
  }

  .control-label {
    text-align: right;
    font-weight: normal;
    font-size: small;
    padding-top: 8px;
  }

  .control-label:after {
    content: ":";
  }

  .checkbox-label {
    text-align: right;
    font-weight: normal;
    font-size: small;
    padding-top: 3px;
  }

  .checkbox-label:after {
    content: ":";
  }

  .form-group {
    margin-right: 0;
    margin-left: 0;
  }

  [class^="col-"],
  [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
  }

}
