// Styles about the expansion and positioning of the outline vs. the questionnaire

.container {
  padding-left: 0;
  padding-right: 0;
  width: 100%;

  .outline-expansion-control {
    cursor: pointer;
    float: right;
    &.small {
      padding-top: 10px;
    }
  }

  .outline-and-questionnaire {
    display: flex;

    .outline {
      min-height: calc(50vw);
      vertical-align: top;

      &.collapsed {
        width: $q-outline-collapsed-width;
      }

      &.expanded {
        width: $q-outline-expanded-width;
      }
    }

    .questionnaire-wrapper {
      // below variable used to sync the dynamic size of fixed-position edit bar and the questionnaire it overlays
      $questionnaire-width-adjustment: calc(100vw - (#{$content-wrapper-padding} * 3) - (#{$tab-pane-padding} * 3));
      margin-left: $tab-pane-padding;

      &.larger {
        width: calc(#{$questionnaire-width-adjustment} - #{$q-outline-collapsed-width});
      }

      &.smaller {
        width: calc(#{$questionnaire-width-adjustment} - #{$q-outline-expanded-width});
      }

      .form-element.actions#edit-bar {
        // When position is fixed, the entire webpage/viewport is the parent element
        background: $gray2;
        background: rgba($gray2, 0.7);
        bottom: 0;
        display: block;
        padding: 1em;
        position: fixed;
        // Use built-in Sass function and color fallback

        text-align: right;

        a {
          float: none;
        }

        &.larger {
          width: calc(#{$questionnaire-width-adjustment} - #{$q-outline-collapsed-width});
        }

        &.smaller {
          width: calc(#{$questionnaire-width-adjustment} - #{$q-outline-expanded-width});
        }
      }
    }
  }
}
