.now-editing {
  color: var(--custom-accent-darkened);
  float: left;
  font-style: italic;
  vertical-align: center;

  i.fa {
    float: left;
    font-size: larger;
    padding-right: 0.2em;
  }
}

.edit-view .edit-all {
  display: none;
}

.questionnaire {
  .block {
    margin-top: 0;
    padding-top: 0;
  }
  .help-block {
    width: 90%;

    &.collapsed {
      height: 1.5em;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

section.questionnaires li.jqtree_common .jqtree-element
.linked-document .help-block {
  margin: .25em 0;
}

.answer-wrapper.tree-view .decorated-numeric-input.form-element {
  align-items: baseline;
  display: inline-flex;

  span.input-prefix {
    margin-right: 0.5em;
  }

  span.input-postfix {
    margin-left: 0.5em;
  }
}
