.now-editing {
  color: var(--custom-accent-darkened);
  float: left;
  font-style: italic;
  vertical-align: center;

  i.fa {
    float: left;
    font-size: larger;
    padding-right: 0.2em;
  }
}

.edit-action {
  float: right;
  padding-right: 5px;
}

.edit-view .edit-all {
  display: none;
}

.container {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  .outline-expansion-control {
    cursor: pointer;
    float: right;
    &.small {
      padding-top: 10px;
    }
  }

  .row {
    .outline {
      display: inline-block;
      min-height: calc(50vw);
      vertical-align: top;

      &.collapsed {
        width: $q-outline-collapsed-width;
      }

      &.expanded {
        width: $q-outline-expanded-width;
      }
    }

    .questionnaire-wrapper {
      // below variable used to sync the dynamic size of fixed-position edit bar and the questionnaire it overlays
      $questionnaire-width-adjustment: calc(100vw - (#{$content-wrapper-padding} * 3) - (#{$tab-pane-padding} * 3));
      display: inline-block;
      margin-left: $tab-pane-padding;

      &.larger {
        width: calc(#{$questionnaire-width-adjustment} - #{$q-outline-collapsed-width});
      }

      &.smaller {
        width: calc(#{$questionnaire-width-adjustment} - #{$q-outline-expanded-width});
      }

      .form-element.actions#edit-bar {
        // When position is fixed, the entire webpage/viewport is the parent element
        background: $gray2;
        background: rgba($gray2, 0.7);
        bottom: 0;
        display: block;
        padding: 1em;
        position: fixed;
        // Use built-in Sass function and color fallback

        text-align: right;

        a {
          float: none;
        }

        &.larger {
          width: calc(#{$questionnaire-width-adjustment} - #{$q-outline-collapsed-width});
        }

        &.smaller {
          width: calc(#{$questionnaire-width-adjustment} - #{$q-outline-expanded-width});
        }
      }
    }
  }
}

.questionnaire {
  .block {
    margin-top: 0;
    padding-top: 0;
  }
  .help-block {
    width: 90%;

    &.collapsed {
      height: 1.5em;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

.loan-questions {
  .filter-switch {
    padding-bottom: 20px;
  }

  .jqtree-element {
    display: flex;

    .jqtree-title {
      flex-grow: 100;
      min-width: 20%;
      word-wrap: break-word;
    }
  }

  .inactive {
    .jqtree-title {
      color: $gray6;
    }
  }

  .loan-types {
    text-align: right;
  }

  .loan-type-required {
    display: inline-block;
    max-width: 8em;
    max-height: 2em;
    margin: 0 .2em 0 0;
    padding: .2em;
    border: 1px solid $gray2;
    border-radius: 4px;
    color: $gray3;
    font-size: .9em;
    text-transform: capitalize;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.linked-document {
  padding-top: 1em;

  .ld-container {
    margin-left: 1em;
  }

  .form-group {
    margin: .5em 2em .25em 0;
  }

  @media (min-width: 768px) {
    .full-width-group {
      width: 100%;
      margin: .5em 0 .5em 0;

      input {
        width: calc(100% - 5.5em);
      }
    }
  }

  label {
    width: 6em;
    font-size: .9em;
    font-weight: normal;
    text-align: left;
  }

  .doc-actions {
    margin: .5em 0;
  }
}

section.questionnaires li.jqtree_common .jqtree-element
.linked-document .help-block {
  margin: .25em 0;
}

.answer-wrapper.tree-view .decorated-numeric-input.form-element {
  align-items: baseline;
  display: inline-flex;

  span.input-prefix {
    margin-right: 0.5em;
  }

  span.input-postfix {
    margin-left: 0.5em;
  }
}
