= render "admin/calendar/calendar", project: @basic_project

javascript:
  $(function() {
    new MS.Views.GeneralCalendarView({
      calendarEventsUrl: #{json @calendar_events_url},
      stepModal: new MS.Views.ProjectStepModalView(),
      locale: #{json @locale}
    });
  });
