section.log-list
  = render "admin/project_logs/log_list"

div#log-form-modal

= paginate @logs

javascript:
  $(function() {
    new MS.Views.LogListView({
      el: 'section.log-list',
      refreshUrl: #{json "/admin/logs?project=#{@basic_project.id}"},
      logFormModal: $('#log-form-modal')
    });
  });
