#timeline-table
  = render "admin/timeline/main", project: @basic_project

javascript:
  $(function() {
    new MS.Views.TimelineTableView({
      projectId: #{json @basic_project.id},
      stepModal: new MS.Views.ProjectStepModalView()
    });
  });
