@import "fullcalendar";
@import "../colors";
@import "../components/multiline_ellipsis";

.calendar-event {
  margin-bottom: .25em;
  padding: .25em;
  background: $gray1;
  border: none;
  color: $black;
  border-radius: 0;
  max-height: 4em;
  overflow-y: hidden;
  font-size: .8em;

  .fa {
    display: inline-block;
    display: inline;
    vertical-align: middle;
    font-size: 1em;
  }

  .event-title {
    .fa {
      padding-right: .25em;
    }
  }
}

.fc-view-container {
  background: $white;
}

.cal-ghost-step, .cal-step {
  $right-box-width: 2em;

  min-height: 2em;

  .event-title {
    display: inline-block;
    width: calc(100% - 2em);
    margin-right: 0;
    background: inherit;

    @include multiLineEllipsis($lineHeight: 1.2em, $lineCount: 2, $bgColor: inherit);
  }

  .large-left-box {
    background: inherit;
    width: calc(100% - 2em);
    display: inline-block;
    max-height: 3em;
    overflow: hidden;
    margin: 0;
    padding: 0;
    float: left;
  }

  .small-left-box {
    width: 1.5em;
    display: inline-block;
    vertical-align: top;
    float: left;
    margin: 0;
    padding: 0;
  }

  .small-right-box {
    width: 2em;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 0;
    height: 100%;
    float: right;
  }
}

.cal-ghost-step {
  background: $white;
  border: 1px dashed $gray3;
  color: $gray3;

  &:hover {
    color: $gray3;
  }
}
