@import "fullcalendar";
@import "../colors";

.fc-event {
  border-radius: 0;
  min-height: 2em;
  margin-bottom: .25em;
}

.cal-ghost-step {
  background: none;
  border: 1px dashed $gray3;
  color: $gray3;

  &:hover {
    color: $gray3;
  }
}
