@import "fullcalendar";
@import "../colors";

.calendar-event {
  margin-bottom: .25em;
  padding: .25em;
  background: $gray1;
  border: none;
  color: $black;
  border-radius: 0;
  max-height: 4em;
  overflow-y: hidden;
  font-size: .8em;

  .fa {
    display: inline-block;
    display: inline;
    vertical-align: middle;
    font-size: 1em;
  }

  .event-title {
    display: inline-block;
    width: 100%;
    line-height: normal;
    max-height: 3em;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
    white-space: normal;
    margin: 0 auto;
    padding: 0;
  }
}

.fc-view-container {
  background: $white;
}

.cal-ghost-step, .cal-step {
  min-height: 2em;

  .event-title {
    // padding-left: .5em;
    // display: inline;
  }

  .large-left-box {
    width: 90%;
    width: 70%;
    width: calc(100% - 4em);
    width: calc(100% - 2em);
    display: inline-block;
    margin: 0;
    padding: 0;
    float: left;
  }

  .small-left-box {
    width: 1.5em;
    display: inline-block;
    vertical-align: top;
    float: left;
    margin: 0;
    padding: 0;
  }

  .small-right-box {
    width: 2em;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 0;
    height: 100%;
    float: right;
  }
}

.cal-ghost-step {
  background: none;
  border: 1px dashed $gray3;
  color: $gray3;

  &:hover {
    color: $gray3;
  }
}
