h4.canvas-cell-title = t("loan.business_model.#{section}")
.canvas-help-block.help-block = simple_format t("loan.business_model.explanations.#{section}")
.canvas-answer.view-element = simple_format data[section]
textarea.form-element name="#{field.attribute_sym}__breakeven_data[#{section}]"
  = data[section]
