- content_for(:title, @person.name)

section.block.section.upcoming-events.calendar
  h2 Upcoming Steps
  div#calendar

javascript:
  $(function(){
    MS.DashboardCalendarView = new MS.Views.DashboardCalendarView({
      calendarEventsUrl: #{json @calendar_events_url},
      locale: "#{I18n.locale}"
    });
  });
