.log-form {
  #project_log_date {
    width: 15em;
    display: inline-block;
    margin-right: 2em;
  }

  .media-container {
    margin-top: 20px;
    // Each media item has a 15px bottom margin but we don't want that on the bottom row.
    margin-bottom: -15px;
  }
}
