@import "../colors";

#log-list-modal {
  .modal-body {
    min-height: 300px; // So the loading indicator looks good while loading
  }

  h5 {
    margin-top: 0;
  }

  .show-actions {
    float: right;
  }
}

.logs-index {
  background-color: white;
}

.tab-content .logs-index .log {
  padding: 10px;
}
