@import "../colors";

.log {
  .summary {
    margin: 0 .5em 0 0;
  }

  .extra {
    margin-top: 10px;

    strong {
      display: inline-block;
      margin-right: 1em;
    }

    p:last-of-type {
      margin-bottom: 0;
    }
  }
}
