@import "../colors";

.step-logs {
  .fa {
    font-size: inherit;
  }
}

.add-log {
  background: $success1;
  color: $white;
  line-height: 2.2em;
  padding-top: 0;
  padding-bottom: 0;

  .fa {
    vertical-align: middle;
  }

  &.condensed {
    margin: 0 .25em;
    padding: .25em 0 .25em .25em;
    cursor: pointer;
    background: inherit;
    color: $success1;

    .fa {
      font-size: 2em;
    }
  }

  &:hover {
    border: 1px solid $success1;
    color: $success1;
    background: inherit;

    &.condensed {
      border: none;
    }
  }
}

.logs {
  text-align: left;
}

.log {
  &.panel {
    background: $gray1;
    margin-bottom: 15px;
  }

  .panel-body, .panel-footer, .panel-heading {
    background: inherit;
    border: none;
    padding: 0;
    margin: 1em;
  }

  .log-info {
    padding: 0;
    margin: 1em 0;
  }

  p {
    margin: 0;
    padding: 0;
  }

  .actions-box {
    text-align: left;
    margin: 0 0.5em;
  }
}

.log.expandable {
  .summary {
    margin: 0 .5em 0 0;
  }

  .less.log-ctrl {
    display: none;
  }

  .more.log-ctrl {
    display: inline;
  }

  .more-info {
    display: none;
  }

  &.expanded {
    .less.log-ctrl {
      display: inline;
    }

    .more.log-ctrl {
      display: none;
    }

    .more-info {
      display: block;
    }
  }
}

.step-logs.expandable {
  .more.logs-ctrl {
    display: inline;
  }

  .less.logs-ctrl {
    display: none;
  }

  .logs {
    display: none;
  }

  .add-log.condensed {
    display: inline;
  }

  .add-log.full {
    display: none;
  }

  &.expanded {
    .more.logs-ctrl {
      display: none;
    }

    .less.logs-ctrl {
      display: inline;
    }

    .logs {
      display: block;
    }

    .add-log.condensed {
      display: none;
    }

    .add-log.full {
      display: inline-block;
    }
  }
}

.logs {
  header {
    margin-top: 15px;
    margin-bottom: 15px;

    .section-heading {
      font-size: 1.25em;
      font-weight: bold;
    }
  }
}

.log-info {
  .bold {
    margin-right: .5em;
  }
}
