.log {
  .summary {
    padding: 0 0 0.5em;
  }

  .extra {
    margin-top: 10px;

    strong {
      display: inline-block;
      margin-right: 1em;
    }

    p:last-of-type {
      margin-bottom: 0;
    }
  }

  .log-notes {
    margin-left: 1em;
  }
}
