@import "../colors";

#logs-list-modal {
  .modal-body {
    h4 {
      margin: 0 1rem;
      padding: 0 0 1rem;
      border-bottom: 1px solid $gray6;

      .fa {
        margin-right: 1rem;
      }
    }
  }
}
