@import "../loans/_colors";

.logs {
  text-align: left;
}

.log {
  &.panel {
    background: $gray1;
  }

  .panel-body, .panel-footer, .panel-heading {
    background: inherit;
    border: none;
    padding: 0;
    margin: 1em;
  }

  .log-info {
    padding: 0;
    margin: 1em 0;
  }

  p {
    margin: 0;
    padding: 0;
  }

  .actions-box {
    text-align: left;
    margin: 0 1em;
  }
}

.expandable {
  .less, .more {
    margin: 0 .5em;
  }

  .less {
    display: none;
  }

  .more {
    display: inline;
  }

  .more-info {
    display: none;
  }

  &.expanded {
    .less {
      display: inline;
    }

    .more {
      display: none;
    }

    .more-info {
      display: block;
    }
  }
}

.right-align {
  text-align: right;
}
