@import "../loans/_colors";

.logs {
  text-align: left;
}

.log {
  .panel-body, .panel-footer, .panel-heading {
    background: $gray1;
    border: none;
  }

  .actions-box {
    text-align: left;
    margin: 0 1em;
  }
}

.expandable {
  .less {
    display: none;
  }

  .more {
    display: inline;
  }

  .more-info {
    display: none;
  }

  &.expanded {
    .less {
      display: inline;
    }

    .more {
      display: none;
    }

    .more-info {
      display: block;
    }
  }
}
