@import "../loans/_colors";

.logs {
  text-align: left;
}

.log {
  &.panel {
    background: $gray1;
  }

  .panel-body, .panel-footer, .panel-heading {
    background: inherit;
    border: none;
    padding: 0;
    margin: 1em;
  }

  .log-info {
    padding: 0;
    margin: 1em 0;
  }

  p {
    margin: 0;
    padding: 0;
  }

  .actions-box {
    text-align: left;
    margin: 0 1em;
  }
}

.log.expandable {
  .less.log-ctrl, .more.log-ctrl {
    margin: 0 .5em;
  }

  .less.log-ctrl {
    display: none;
  }

  .more.log-ctrl {
    display: inline;
  }

  .more-info {
    display: none;
  }

  &.expanded {
    .less.log-ctrl {
      display: inline;
    }

    .more.log-ctrl {
      display: none;
    }

    .more-info {
      display: block;
    }
  }
}

.step-logs.expandable {
  .more.logs-ctrl {
    display: inline;
  }

  .less.logs-ctrl {
    display: none;
  }

  .logs {
    display: none;
  }

  &.expanded {
    .more.logs-ctrl {
      display: none;
    }

    .less.logs-ctrl {
      display: inline;
    }

    .logs {
      display: block;
    }
  }
}

.right-align {
  text-align: right;
}

.logs {
  header.row {
    margin: 1em 0;

    .section-heading {
      font-size: 1.25em;
      font-weight: bold;
    }
  }
}
