// Second selector applies to old timeline
#duplicate-step-modal, [id^="duplicate-step-modal"] {
  .form-group {
    &.row {
      margin: 1em 0;
    }

    input, select, span {
      margin: 4px;
    }

    input[type="date"].form-control {
      line-height: inherit;
    }

    input[name="duplication[num_of_occurrences]"],
    input[name="duplication[time_unit_frequency]"] {
      width: 8em;
    }
  }

  .repeat-options {
    margin-left: 2em;
  }
}
