li = link_to 'Dashboard', root_path
li = link_to 'Co-ops', admin_organizations_path
li: a Loans
li = link_to 'Calendar', admin_calendar_index_path
li: a Members
li: a Reports

hr.hidden-xs
li = link_to "Raw Admin Views", admin_raw_divisions_path
