- content_for :title, @org ? t(".logs_for", thing: @org.name) : t(".title")

- refresh_url = @org ? "/admin/logs?org=#{@org.id}" : "/admin/logs"
= render "admin/project_logs/log_list", refresh_url: refresh_url

= paginate @logs
