- content_for :title, @org ? t(".logs_for", thing: @org.name) : t(".title")

/ - content_for :with_title do
/   a.expand-all href="#" = t('expand_all')

.logs-index
  = render(@logs) || content_tag(:div, t('common.no_records'), class: 'alert alert-info')

= paginate @logs, outer_window: 2
