// Application Styles
@import "scaffolds";
@import "home";
@import "loans";
@import "users";
@import "media";
@import "embedded";

$tww_red: #882222;
$tww_gold: #C0B18F;
$tww_black: #011C26;

body {
  background: #e5e5e5 url('/images/bg.png') repeat;
  -webkit-font-smoothing: antialiased;
}
a.currency_symbol {
  color: inherit;
  border-bottom: 1px dotted;
  &:hover {
    text-decoration: none;
    color: inherit;
  }
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #e5e5e5;
  border-bottom: 1px solid #eeeeee;
  display: block;
  clear: both;
}
th {
  text-align: left;
}

.errorlist {
  color: red;
}
.empty {
  font-weight: bold;
}
.notfound {
  font-style: italic;
}
.nowrap {
  white-space: nowrap;
}
.css-table {
  display: table;
  .tr { display: table-row; }
  .td { display: table-cell; }
}

//.translation p:last-child {
//  margin-bottom: 0;
//}
.foreign_language {
  font-style: italic;
  &:hover {
    cursor:help;
  }
}


/* NAVIGATION STYLES*/
$pill_padding: 8px 15px;

.nav-pills > li.disabled {
  color: #999;
  padding: $pill_padding;
}
.nav.nav-pills > li > a {
  padding: $pill_padding;
}
.nav-pills, .nav-tabs {
  > li > a:hover {
    color: $tww_red;
    background-color: rgba(145, 145, 145, 0.25);
  }
}
.nav-pills > li.active > a {
  &, &:hover, &:focus {
    color: white;
    background-color: $tww_red;
  }
}

.pagination {
  text-align: center;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  background-color: $tww_gold;
  border-color: $tww_red;
  color: $tww_red;
}

.back_link {
  margin-bottom: 10px;
}


/* EXTRA GLYPHICONS */
.icon-coinstack {
  display: inline-block;
  width: 18px;
  height: 14px;
  background-image: url("/assets/coinstack.png");
  background-position: 2px 0;
  background-repeat: no-repeat;
}

/* CSS TABLE ZEBRA */
/*table tr:nth-child(even) {
  background: rgba(255,255,0,0.1);
}*/


/* RESPONSIVE STYLES*/

/* Large desktop */
@media (min-width: 1200px) {  }

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {  }

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {  }

/* Landscape phones and down */
@media (max-width: 480px) {
  .navbar .navbar-inner ul {
    width: 100%;
    background: #f8f8f8;
  }
  .navbar .navbar-inner li {
    text-align: left;
    border-bottom: 1px solid #e9e9e9;
  }
  .home_board {
    float: none;

    width: 100%;
    height: 100%;
  }
  .vdio iframe {
    float: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
