// Color variables

$success1: rgb(92, 184, 92);      // #5CB85C
$success2: rgb(68, 157, 68);      // #449D44
$success3: rgb(60, 118, 61);      // #3C763D

$green1: rgb(115, 200, 100);
$green2: rgb(20, 125, 0);

$yellow1: rgb(205, 205, 0);
$yellow2: yellow;

$highlight: rgb(255, 255, 221);

$orange1: rgb(220, 145, 50);
$orange2: rgb(220, 125, 0);

$danger1: rgb(217, 83, 79);
$danger2: rgb(201, 48, 44);

$red1: red;

$white: white;
$table-gray: rgb(249, 249, 249);
$background-gray: rgb(243, 243, 243);
$gray2: rgb(230, 230, 230);
$table-border-color: rgb(221, 221, 221); // Bootstrap Table Border #ddd
$gray4: rgb(211, 211, 211);       // lightgrey
$gray3: rgb(128, 128, 128);       // gray and #8080
$gray5: #f3f3f3;
$gray6: hsl(0, 0%, 60%);
$gray7: hsl(0, 0%, 80%);
$gray8: #545454;                  // Meets accessibility standard on $table-gray background
$gray9: #595959;                  // Meets accessibility standards on white background
$body: #333;
$black: black;

// Color values from project step model. Note these are defined there as well. Using HSL here
// because it is required for calculations in that model.
$onTime: hsl(120, 73%, 57%);       // rgb(65, 225, 65);
$superEarly: hsl(120, 41%, 47%);   // rgb(71, 169, 71);
$barelyLate: hsl(56, 100%, 66%);   // rgb(255, 243, 82);
$superLate: hsl(0, 74%, 54%);      // rgb(225, 51, 51);

$veryLate: $orange2;
