// General, miscellaneous styles to be used throughout the admin area.
// General styles forming a cohesive, non-trivially sized group should be moved into separate file.

@import "colors";

body {
  font-family: 'Open Sans', sans-serif;
}

// A two-column table for key-value style data.
table.key-value {
  td {
    vertical-align: top;
    padding-bottom: 5px;
  }

  th {
    padding-right: 10px;
    color: gray;
    font-weight: bold;
  }
}

// Used when there are no results for an index view.
.no-records-msg {
  margin: 5px 0;
}

.distributed-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.right-align {
  text-align: right;
}

.tight-block {
  display: block;
  margin: 0;
  padding: 0;
}

.text-right-of-icon {
  margin: 0 0 0 .5em;
}

.icon-with-text {
  line-height: 2em;

  .fa {
    font-size: .8em;
  }
}

.content {
  // Gray blocks found throughout the admin interface.
  .block {
    background: $background-gray;
    margin: 1em 0;
    padding: 1em;

    .header-with-links {
      margin-bottom: 15px;

      h1 {
        display: inline-block;
      }

      a {
        margin-left: 10px;
      }

      .btn, .new-link {
        float: right;
      }
    }
  }
}

section.details {
  section.block h1 {
    margin-top: 0;
    font-size: 1.5em;
  }
}

// These are the show/edit links at the top of show views/forms.
.show-actions {
  margin-bottom: 5px;
  text-align: right;

  a {
    display: inline-block;
    margin-left: 10px;
  }

  .dropdown-menu {
    a {
      display: block;
      margin: 0;
    }
  }
}

.bold {
  font-weight: bold;
}

a, input[type="checkbox"], input[type="radio"], select {
  cursor: pointer;
}

.links {
  display: inline-block;
}

.filter-switch {
  text-align: center
}

.pagination > li {
  > a, > a:hover {
    color: inherit;
  }
}

[data-hide-all], .show-actions [data-hide-all] {
  display: none;
}
