@import "colors";

.language-block {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid $gray4;

  // Added to resolve styling problems
  margin: 15px 0;

  &:first-of-type {
    margin-top: 0px;
  }

  &:last-of-type {
    margin-bottom: 10px;
  }

  a.remove-language {
    float: right;
  }

  // Keep translatable language select box a natural width
  select.locale {
    width: auto;
  }

  div.form-group:last-of-type {
    margin-bottom: 0;
  }
}

.languages {
  .add-language {
    display: block;
    margin: 10px 0;
  }
}
