@import "colors";

.language-block {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid $gray4;

  &:last-of-type {
    margin-bottom: 10px;
  }

  .form-group:last-of-type {
    margin-bottom: 0;
  }

  a.remove-language {
    float: right;
  }

  // Keep translatable language select box a natural width
  select[id^=loan_locale_] {
    width: auto;
  }
}

// For some reason the usual .form-group bottom margin doesn't work on this form
// Consider refactoring later.
.project-step-form .language-block .form-control {
  margin-bottom: 10px;
}