@import "colors";

.language-block {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid $gray4;

  .form-control {
    margin-bottom: 10px;
  }
}

// Keep translatable language select box a natural width
.languages {
  select {
    width: auto;
  }
}
