// Styles for the overall admin template
$site-header-height: 85px;
$site-header-padding: 10px;
$menu-height: 20px;

#site-menu {
  left: 0;
  padding-left: 10px;
  position: fixed;
  top: $site-header-height;
  width: 100%;
  z-index: 2000;
}

body.admin {
  padding-top: $site-header-height + $menu-height + $site-header-padding * 2;

  // Navbar styles for desktop and mobile.
  #site-header {
    border: 0; // Hide default border to remove 1px line.
    height: $site-header-height;
    padding: $site-header-padding;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 2000;

    .header-grid {
      display: grid;
      grid-template-columns: repeat(3, 33%);
      justify-content: space-evenly;

      @media(max-width: $screen-md-min) {
        grid-template-columns: minmax(0, 0) minmax(auto, 75%) minmax(auto, auto);

        .ftc-triple-spiral {
          display: none;
        }

        .division-brand {
          text-align: left;
        }
      }
    }

    .logo-grid {
      display: grid;
      grid-template-columns: minmax(auto, 42px) auto;

    }

    // This is the main area of the navbar but doesn't include the slide-down mobile menu.
    // These styles are common to xs and sm sizes.
    // See _madeline_logo.scss for logo styles.

      .division-brand {
        // Deliberately not subtracting second padding so overflow is obvious.
        height: $site-header-height - $site-header-padding;
        overflow-y: hidden;

        .with-logo {
          img {
            height: $site-header-height - 2 * $site-header-padding;
            max-width: 256px; // So that logo is not wider than its column at 768px.
          }

          &.with-text {
            img {
              height: $site-header-height - 2 * $site-header-padding - 20px;
            }

            .logo-text {
              font-size: 14px;
            }
          }
        }

        .without-logo {
          font-size: 26px;
          font-weight: bold;
          line-height: 1.2;
        }
      }

    // This form appears both in the header and the slide-down menu.
    .select_division_form select {
      font-size: 12px;
    }

      .division-brand {
        text-align: center;
      }

      .user-div-info {
        float: right;

        li {
          list-style-type: none;
          &.select-division {
            display: block;
          }

          select {
            margin-bottom: 1em;
          }
        }

        form {
          display: inline-block;
          select {
            width: 200px;
            margin-bottom: 10px;
          }
        }

        i {
          margin-left: 10px;
        }

        i.fa-sign-out {
          font-size: 16px;
        }
      }
  }

  .content-wrapper {
    padding: $content-wrapper-padding;
  }

  // Page title, help system popover, and new button
  .page-header {
    margin-top: 0;
    border: none;

    .title-with-popover {
      display: block;
      margin-bottom: 1em;
    }

    h1, .ms-popover {
      display: inline;
    }

    .ms-documentation {
      margin-left: .25em;

      i {
        font-size: 2em;
      }

      &:hover, &:focus {
        text-decoration: none;
        color: #781f20;
      }
    }

    h1 {
      margin-top: 0;
    }
  }

  // Page title and New button.
  @media (min-width: 768px) {
    .page-header {
      display: flex;
      align-items: center;
      width: 100%;

      .title-with-popover {
        display: flex;
        margin-bottom: 0;
      }

      .ms-popover {
        display: flex;
        align-items: center;
        margin-left: .5em;
        margin-right: .75em;

        i {
          font-size: 1.5em;
        }

        &:hover {
          text-decoration: none;
          color: #781f20;
        }
      }

      .page-title {
        margin: 0;
      }
    }

    .with-title {
      text-align: right;

      .btn {
        margin-right: 0.5em;
      }
    }
  }
}
