.loan-questions {
  .filter-switch {
    padding-bottom: 20px;
  }

  .jqtree-element {
    display: flex;

    .jqtree-title {
      flex-grow: 100;
    }
  }
}

.linked-document {
  h6 {
    font-size: 1rem;
  }

  label.control-label {
    font-weight: normal;
    text-align: left;
    font-size: .9em;
  }
}
