.loan-questions {
  .filter-switch {
    padding-bottom: 20px;
  }

  .jqtree-element {
    display: flex;

    .jqtree-title {
      flex-grow: 100;
    }
  }
}

.linked-document {
  .form-group {
    margin: .5em 2em .5em 0;
  }

  .full-width-group {
    width: 100%;
    margin: .5em 0;

    input {
      width: calc(100% - 6em);
    }
  }

  label {
    width: 6em;
    font-size: .9em;
    font-weight: normal;
    text-align: left;
  }
}
