$navbar-height: 85px;
$navbar-padding: 10px;

body {
  padding-top: $navbar-height;
}

.mainmenu {
  padding: $navbar-padding;
  height: $navbar-height;

  .ftc-triple-spiral {
    font-size: 36px;
    margin-top: -4px; // Corrects for a little space above.
  }

  .division-logo {
    img {
      height: $navbar-height - 2 * $navbar-padding;
    }
  }

  @media (min-width: 768px) {
    .container-fluid {
      padding: 0; // Override bootstrap default.
    }

    .division-logo {
      text-align: center;
    }

    .user-div-info {
      text-align: right;

      form {
        display: inline-block;
        width: auto;
      }

      i {
        margin-left: 10px;
      }

      i.fa-sign-out {
        font-size: 16px;
      }
    }
  }

  @media (max-width: 767px) {
    .nav-sm {
      display: none;
    }
  }
}

.submenu {
  padding-left: 15px;
  font-size: 93%;
  background-color: #eeeeee;
}

.navbar-inverse .navbar-nav .submenu {
  background-color: transparent;

  > li > a {
    color: #9d9d9d;
    &:hover, &:focus {
      color: #fff;
      background-color: transparent;
    }
  }
}
