// Most modal styles are used unmodified from Bootstrap. Place any overrides or tweaks here.

// Wider modal option.
@media (min-width: $screen-md-min) {
  .modal.wider .modal-dialog {
    width: 800px;
  }
}

// Fix placement of close button inside Summernote modals
// Styles are applied to all modals
.modal-header {
  .modal-title,
  .close {
    display: inline-block;
  }
}

// Fix a bug where Select2 sets the width of autocomplete selects to its own determined width.
// The width selected by Select2 can be variable and too narrow to display the content well.
.modal {
  .select2 {
    width: 100% !important;
  }
}
