.print-only {
  display: none;
}

.print-view {
  padding-top: 0;
  width: 8in;
  padding: 0 .25in;

  .visible-print-preview {
    display: block;
  }

  .content .block {
    background: none;
  }

  .hidden-print {
    display: none;
  }

  .print-only {
    display: block;
  }

  .mainmenu, #navbar, #user-menu {
    display: none;
  }
}

@media print {
  .visible-print-preview {
    display: none;
  }
}
