.print-only {
  display: none;
}

.print-view {
  padding-top: 0;
  width: 8in;
  padding: .25in;

  .visible-print-preview {
    display: block;
  }

  .content .block {
    background: none;
  }

  .hidden-print {
    display: none;
  }

  .page-header {
    margin: 20px 0;
  }

  .print-only {
    display: block;
  }

  .mainmenu, #navbar, #user-menu {
    display: none;
  }
}

@media print {
  .print-view {
    .visible-print-preview {
      display: none;
    }
  }
}
