body.admin.print-view {
  width: 8in;
  padding: 0; // Browser adds margins. No need for padding here.

  .content .block {
    background: none;
  }

  .hidden-print {
    display: none;
  }

  nav, #navbar, #user-menu {
    display: none;
  }

  .page-header {
    margin: 20px 0;

    .with-title {
      float: right;
    }
  }

  .visible-print-block {
    display: block !important;
  }

  .visible-print-preview {
    display: block;
  }

  @media print {
    .visible-print-preview {
      display: none;
    }
  }
}
