.progress-wrapper {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;

  .progress-light {
    background-color: $yellow3;
    border: solid 3px;
    border-color: $yellow3;
    border-radius: 50%;
    display: inline-flex;
    height: 1.3em;
    margin: 0 8px;
    width: 1.3em;

    &[data-pct="0"] {
      background-color: $red2;
      border-color: $red2;
    }

    &[data-pct="100"] {
      background-color: $green3;
      border-color: $green3;
    }

    &.optional {
      background-color: transparent;
    }

    .progress-pct {
      color: $gray3;
      display: inline-flex;
      padding-left: 8px;
      text-align: right;
    }
  }
}

// Additional styles specific to the questionnaire form and outline
.outline {

  .outline-item {
    display: inline-block;
    width: 100%;

    li {
      display: inline;
    }
  }

  .progress-wrapper {
    display: inline;

    .progress-light {
      display: inline-block;
      float: right;
      height: 0.8em;
      margin-right: 0;
      margin-top: 0.5em;
      width: 0.8em;
    }
  }
}
