// General progress bar styles.
.progress-wrapper {
  // !important flags for width directives below are needed to override an overly inclusive
  // print style setting widths of all divs to 6in. Should refactor later.
  width: 250px !important;

  .progress-pct {
    width: 35px !important; // This line shouldn't be necessary at all after refactor.
    display: inline-block;
    padding-right: 5px;
    vertical-align: top;
  }
}

.hello {
  display: inline;
}
// Additional styles specific to the questionnaire screen and print views.
.outline .progress-wrapper .progress-light {
  height: .8em;
  width: .8em;
}

.questionnaire-form .progress-wrapper .progress-light {
  height: 1.3em;
  margin-left: 8px;
  width: 1.3em;
}

.progress-wrapper {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;

  .progress-light {
    background-color: $yellow3;
    border: solid 3px;
    border-color: $yellow3;
    border-radius: 50%;
    display: inline-flex;

    &[data-pct="0"] {
      background-color: $red2;
      border-color: $red2;
    }

    &[data-pct="100"] {
      background-color: $green3;
      border-color: $green3;
    }

    &.optional {
      background-color: transparent;
    }
  }

  .progress-pct {
    color: $gray3;
    display: inline-flex;
    padding-left: 8px;
    text-align: right;
  }
}
