.admin-settings {
  section {
    h2 {
      margin: 0;
      font-size: 1.4em;
    }

    .note {
      font-style: italic;
      font-size: 1em;
      margin-bottom: .6em;
    }

    .form-horizontal {
      margin-top: 1em;
    }

    .form-control {
      width: 90%;
    }

    @media (min-width: 786px) {
      .form-control {
        width: 40%;
      }
    }

    .read-only {
      .alert {
        margin-top: 1em;
      }
    }

    .reset-button {
      padding: 2px 6px;
      margin-right: 6px;
    }
  }
}
