.admin-settings {
  section {
    h2, h3 {
      display: inline;
      font-size: 1.4em;
      margin: 0;
    }

    h3 {
      font-size: 1.2em;
    }

    fieldset {
      border: 1px solid $table-border-color;
      margin: 0.5em;
      padding: 0.5em;
    }

    .note {
      font-size: 1em;
      font-style: italic;
      margin-bottom: 0.6em;
    }

    .form-horizontal {
      margin-top: 1em;
    }

    .form-control {
      width: 90%;
    }

    @media (min-width: 786px) {
      .form-control {
        width: 40%;
      }
    }

    .read-only {
      .alert {
        margin-top: 1em;
      }
    }

    .reset-button {
      padding: 2px 6px;
      margin-right: 6px;
    }
  }
}
