// Summernote

.modal {
  // Fixes a bug where modal buttons have white backgrounds with white text
  &.link-dialog, &.in {
    .modal-footer .note-btn {
      background-color: #8C2426;
      border-color: #781f20;
    }
  }
}


.note-editor {
  // Add padding to Summernote modal content
  .modal-body {
    padding: 30px;
  }
}


// Fix placement of close button inside Summernote modal
.modal-header {
  .modal-title, .close {
    display: inline-block;
  }
}
