// Vendor Styles
@import "jquery-ui";
@import "wice_grid";
@import "colors";
@import "bootstrap_layout";
@import "fullcalendar";
@import "jqtree";

@import "colors";
@import "general";
@import "menu";
@import "index_table";
@import "forms/*";
@import "calendar/*";
@import "loans/*";
@import "logs/*";
@import "project_steps/*";
@import "media/*";
@import "loan_questions";
@import "language_block";
@import "project_step_moves";

// Page title and New button
@media (min-width: 768px) {
  .page-header {
    display: table;
    width: 100%;
    .page-title {
      display: table-cell;
    }
  }

  .with-title {
    display: table-cell;
    text-align: right;
    vertical-align: bottom;
  }
}
