.index-table {
  .action {
    padding: 6px 40px;
    margin: 0 1em;
  }

  .actions {
    display: block;
    margin: 20px 0;
    float: right;
  }

  .dates {
    select {
      display: inline-block;
      width: auto;
      height: 34px;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.42857143;
      color: #555555;
      background-color: #fff;
      background-image: none;
      border: 1px solid #ccc;
      border-radius: 4px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
      -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
      transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    }
  }

  .filters {
    .custom-dropdown-container, .form-control {
      display: inline-block;
      width: auto;
    }

    .form-control {
      max-width: 300px;
    }

    .filter {
      margin: 1em 2em 1em 0;
      display: inline-block;
    }

    .filter-content {
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }

    label {
      margin: 0 .5em 0 0;
      display: inline-block;
    }
  }

  .larger-text-box {
    .form-control {
      min-width: 20em;
    }
  }
}
