.language-block {
  border-color: lightgrey;
  border-style: solid;
  border-width: 1px;
  padding: 5px;
  margin-bottom: 20px;

  .locale {
    margin-bottom: 10px;
  }

  .summary {
    margin-bottom: 10px;
  }

  .details {
    margin-bottom: 5px;
  }
}
