ul.jqtree-tree

  li.jqtree_common
    margin-bottom: 2px
    padding-right: 2px
    background-color: #fff
    border: 1px solid #ddd
    border-radius: 4px

    .jqtree-element
      padding: 10px
      float: left

    .links
      padding: 10px
      white-space: nowrap
      float: right

      .fa
        margin-left: 10px

  .jqtree-title
    margin: 0
