.mainmenu {
  color: #9D9D9D;
  font-size: 1.2em;

  span {
    &:hover {
      color: white;
    }
  }

  form, select, .form-control {
    display: inline-block;
    width: auto;
  }

  @media (min-width: 768px) {
    .division {
      text-align: center;
    }

    .user {
      text-align: right;

      > li {
        float: right;
      }
    }

    .centered-box {
      height: 50px;
      line-height: 50px;
    }
  }

  @media (max-width: 767px) {
    .division {
      span, select, .form-control {
        padding: 0 15px;
      }
    }
  }
}

.submenu {
  padding-left: 15px;
  font-size: 93%;
  background-color: #eeeeee;
}

.navbar-inverse .navbar-nav .submenu {
  background-color: transparent;

  > li > a {
    color: #9d9d9d;
    &:hover, &:focus {
      color: #fff;
      background-color: transparent;
    }
  }
}
