# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 609902bb9dcd92a7dcc9dc0ca29d452ee1ac81c9e8ebdc0e259d8d5746cf304f192f593647165b4aa0076ac7792a1339495b321e894193bbd1e73a56370e26f8

test:
  secret_key_base: cfdd7891fec4e5a09aa01d560b8e085cef87db8b33b657f1f2b2522494a04e0f9712d145bf27dde696d4d788a1acd7a535af5a1839fc0e8ff2b0a6092b902b13

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
