$media-block-width: 100px;
$data-export-media-block-width: auto;

.media-browser, .media-modal {
  .section {
    display: inline-block;
  }

  h4 {
    font-size: 15px;
  }

  div.media-item {
    display: inline-block;
    height: auto;
    vertical-align: top;
    text-align: center;
  }

  .extension, .media-block {
    display: block;
    width: $media-block-width;
    height: $media-block-width;
    padding-top: 32px;
    background-color: $gray2;
    color: $gray3;
  }

  .extension {
    font-size: 1.4em;
  }

  .media-block {
    i {
      font-size: 1.4em;
    }
  }
}

.media-browser {
  h4 {
    font-size: 15px;
  }

  .thumb {
    position: relative;
    max-width: $media-block-width;
    margin-bottom: 15px;
    margin-right: 15px;

    .actions {
      display: none;
      position: absolute;
      top: 0px;
      right: 2px;
      font-size: 18px;

      a {
        margin: 0 5px 0 0;
        padding-right: 0px;
        color: $gray3;
      }
    }

    &:hover {
      .actions {
        display: block;
      }
    }

    .media-title {
      width: $media-block-width;
      color: $gray3;
      cursor: pointer;
      word-wrap: break-word;

      &.media-caption {
        color: inherit;
      }
    }

    a {
      display: block;
      height: 100px;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &.data-export-media {
    align-items: stretch;
    display: flex;
    height: 100%;
    padding: 0;

    .media-block {
      height: $data-export-media-block-width;
      padding: 0.5rem;
      width: $data-export-media-block-width;
    }

    .media-title {
      width: $data-export-media-block-width;
    }

    .thumb {
      max-width: $data-export-media-block-width;
    }
  }
}

.media-modal {
  form {
    // Overide JS-added styling caused by Twitter Bootstrap that moves content to the left
    padding-left: 1em;
  }

  div.media-item {
    display: block;
  }

  .media-block {
    display: inline-block;
  }

  .media-title {
    width: auto;
  }
}

.media-gallery {
  background-color: $gray5;
  
  @media only screen and (min-width: 1500px) {
    min-width: 1500px;
  }
  .media-container {
    display: grid;
    grid-template-columns: auto auto;

    @media only screen and (min-width: 1500px) {
      grid-template-columns: auto auto auto;
    }

    @media only screen and (max-width: 1025px) {
      grid-template-columns: auto;
    }

  }

  .media {
    padding: 5px;
    margin-top: 0;
    .media-box {
      display: flex;
      background-color: $white;
      padding: 0.5em;
      vertical-align: top;
      height: 12.5em;
      .media-left {
        width: min-content;
      }
      .media-caption span {
        display: block;
        height: 1.3em;
        overflow: hidden;
      }
    }

    .thumb {
      border: 5px solid $gray4;
    }

    .caption {
      font-style:  italic;
      font-size: 0.8em;
      margin-top: 0.5em;
      height: 1em;
    }

    dl {
      width: 100%;
      overflow: hidden;
      padding: 0;
      margin: 0;

      dt {
        float: left;
        width: 30%;
        padding: 0;
        margin: 0;
      }

      dd {
        float: left;
        width: 70%;
        padding: 0;
        margin: 0;
        overflow-wrap: break-word;
        &.filename {
          font-style: italic;
        }
      }
    }

    .extension, .media-block {
      display: block;
      width: $media-block-width;
      height: $media-block-width;
      padding-top: 32px;
      background-color: $gray2;
      color: $gray3;
      text-align: center;
    }

    .extension {
      font-size: 1.4em;
    }

    .media-block {
      i {
        font-size: 1.4em;
      }
    }
  }
}
