@import '../colors';

$media-block-width: 100px;

.media-browser, .media-modal {
  .section {
    display: inline-block;
  }

  h4 {
    font-size: 15px;
  }

  div.media-item {
    display: inline-block;
    height: auto;
    vertical-align: top;
    text-align: center;
  }

  .extension, .media-block {
    display: block;
    width: $media-block-width;
    height: $media-block-width;
    padding-top: 32px;
    background-color: $gray2;
    color: $gray3;
  }

  .extension {
    font-size: 1.4em;
  }

  .media-block {
    i {
      font-size: 1.4em;
    }
  }
}

.media-browser {
  h4 {
    font-size: 15px;
  }

  .thumb {
    margin-bottom: 15px;
    margin-right: 15px;
    position: relative;

    .actions {
      display: none;
      position: absolute;
      top: 0px;
      right: 2px;
      font-size: 18px;

      a {
        margin: 0 5px 0 0;
        padding-right: 0px;
        color: $gray3;
      }
    }

    &:hover {
      .actions {
        display: block;
      }
    }

    .media-title {
      width: $media-block-width;
      color: $gray3;
      cursor: pointer;
    }

    a {
      display: block;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.media-modal {
  div.media-item {
    display: block;
  }

  .media-block {
    display: inline-block;
  }

  .media-title {
    width: auto;
  }
}
