@import '../colors';

$media-block-width: 100px;

.media-browser {
  div.media-item {
    display: inline-block;
    text-align: center;
    height: auto;
    vertical-align: top;
  }

  .thumb {
    position: relative;
    margin-bottom: 15px;
    margin-right: 15px;

    .actions {
      position: absolute;
      top: 0px;
      right: 2px;
      display: none;
      font-size: 18px;

      a {
        margin: 0 5px 0 0;
        padding-right: 0px;
        color: $gray3;
      }
    }

    &:hover {
      .actions {
        display: block;
      }
    }

    .extension, .media-block {
      display: block;
      width: $media-block-width;
      height: $media-block-width;
      padding-top: 32px;
      background-color: $gray2;
      color: $gray3;
    }

    .extension {
      font-size: 1.4em;
    }

    .media-block {
      i {
        font-size: 1.4em;
      }
    }

    .media-title {
      width: $media-block-width;
    }

    a {
      display: block;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
