@import '../loans/colors';

.media-browser {
  .thumb {
    margin-bottom: 30px;

    .actions {
      position: absolute;
      top: 0px;
      right: 10px;
      display: none;
      font-size: 18px;

      a {
        margin: 0 5px 0 0;
        padding-right: 0px;
        color: $gray3;
      }
    }

    &:hover {
      .actions {
        display: block;
      }
    }
  }
}
