div.panel.step [
  style="border-color: #{step.border_color}"
  data-step-id="#{step.id_or_temp_id}"
  data-color="#{step.border_color}"
  class="#{step.completed_or_not}"
  data-context="#{context}"
  ]

  .form-step-block style="display: #{mode == :form ? 'inherit' : 'none'}"
    = render "admin/project_steps/form", step: step, context: context

  - if step.persisted? # No need for show partial if this is a new record
    .view-step-block style="display: #{mode == :show ? 'inherit' : 'none'}"
      = render "admin/project_steps/show", step: step, context: context

  - unless context == "calendar"
    = render "admin/project_steps/duplicate_step_modal",
      step: (step if policy(step).duplicate?), context: context

  javascript:
    $(document).ready(function() {
      new MS.Views.ProjectStepView({
        el: $('.step[data-step-id=#{step.id_or_temp_id}][data-context=#{context}]'),
        duplicate: #{json params[:action] == 'duplicate'},
        persisted: #{json step.persisted?},
        permittedLocales: #{json step.permitted_locales}
      });
    });
