= simple_form_for([:admin, note],
    remote: true,
    html: { \
      class: 'note-form ' + (note.new_record? ? 'new-form' : 'update-form'),
      data: { id: note.id },
    },
    defaults: { \
      input_html: { class: 'form-element form-control' },
    },
  ) do |f|
  
  = f.error_notification
  
  = f.input :text, as: :text

  button.btn.btn-default.cancel type="button" = t :cancel
  = f.submit 'Save', class: 'submit btn btn-success'
