// These are styles required by all parts of the app, including admin and public.
// This manifest does NOT pull in the admin and public directories.

// TODO: Not sure if this variable will exist in the public or admin stylesheets.
// Bootstrap variable overrides
// These need to come before the @import of bootstrap itself
$headings-font-weight: 600;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "summernote-bs4";
@import "summernote-custom-theme.min";
@import "jasny-bootstrap";
@import "select2";
@import "select2-bootstrap";
@import "bootstrap-datepicker3";
@import "font-awesome";
@import "shared/*";
@import "public_new/*";
