#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#left {
    float:left;
    /*width:100px;*/
}

#center {
    display: inline-block;
    margin:0 auto;
    /*width:100px;*/
}

#right {
    float:right;
    /*width:100px;*/
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px;
}
#section {
    width:900px;
    float:left;
    padding:10px;
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}
#section_title {
    font-weight:bold;
    font-size:150%;
    float:left;
}
#new_item {
    font-size:150%;
    float:right;
}