@import "../../colors";

.timeline-table {
  .date-col {
    min-width: 8rem;
  }

  // Specificity used to override Bootstrap defaults
  .table thead:first-child tr {
    th {
      border: 1px solid $table-border-color;
      border-bottom-width: 2px;
    }
  }

  td, th {
    background: $white;
  }

  td {
    border: 1px solid $table-border-color;

    &.spacer {
      background: $background-gray;
      border: none;
    }
  }

  .fa-cog {
    color: $gray4;
    margin: 0 .25em;
  }

  .timeline-header {
    .item {
      padding-bottom: 15px;
    }

    .top-actions {
      float: right;
    }
  }
}
