@import "../../colors";

.timeline-table {
  table {
    background: $white;
  }

  .date-col {
    min-width: 8rem;
  }

  .timeline-header {
    .item {
      padding-bottom: 15px;
    }

    .top-actions {
      float: right;
    }
  }
}
