$edge-margin: calc(10vw);
$row-padding: calc(5vh);

.public-header {
  background: var(--custom-bg-color);
  color: var(--custom-fg-color);
  font-size: xx-large;
  font-weight: bolder;
  padding: 0.4em 0;
}

.division-name {
  margin-top: -0.15em;
  text-align: center;
}

.description {
  border-bottom: 1px solid var(--custom-fg-color);
  color: var(--custom-fg-color);
  font-size: small;
  padding: $row-padding 0;
}

.public-container {
  color: var(--custom-fg-color);
  margin: 0 $edge-margin;
}
