    <div class="menubars">
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Madeline System</a>
          </div>
        </div>
      </nav>

      <div class="container-fluid">
        <div class="row">
          <div id="navbar" class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
              <li><a href="#">Dashboard</a></li>
              <li><a href="#">Co-ops</a></li>
              <li><a href="#">Loans</a></li>
              <li><a href="#">Calendar</a></li>
              <li><a href="#">Members</a></li>
              <li><a href="#">Reports</a></li>
            </ul>
          </div>
          <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <%= render "layouts/main_content" %>
          </div>
        </div>
      </div>
    </div>
