<!doctype html>
<html lang="en-US">

  <head>
    <meta charset="UTF-8">
    <title><%= yield :template %> | Madeline System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= yield :head %>
  </head>

  <body>
    <%= render "page/page" %>
  </body>

</html>
