<!doctype html>
<html lang="en-US">

<head>
	<meta charset="UTF-8">
	<title><%= yield :template %> |  The Working World</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="pingback" href="http://www.theworkingworld.org/us/xmlrpc.php" />
	<link rel="alternate" type="application/rss+xml" title="The Working World &raquo; Feed" href="http://www.theworkingworld.org/us/feed/" />
<link rel="alternate" type="application/rss+xml" title="The Working World &raquo; Comments Feed" href="http://www.theworkingworld.org/us/comments/feed/" />
		<script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"http:\/\/s.w.org\/images\/core\/emoji\/72x72\/","ext":".png","source":{"concatemoji":"http:\/\/www.theworkingworld.org\/us\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.3.1"}};
			!function(a,b,c){function d(a){var c=b.createElement("canvas"),d=c.getContext&&c.getContext("2d");return d&&d.fillText?(d.textBaseline="top",d.font="600 32px Arial","flag"===a?(d.fillText(String.fromCharCode(55356,56812,55356,56807),0,0),c.toDataURL().length>3e3):(d.fillText(String.fromCharCode(55357,56835),0,0),0!==d.getImageData(16,16,1,1).data[0])):!1}function e(a){var c=b.createElement("script");c.src=a,c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g;c.supports={simple:d("simple"),flag:d("flag")},c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.simple&&c.supports.flag||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
		</script>
		<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>
<link rel='stylesheet' id='wppb_css-css'  href='http://www.theworkingworld.org/us/wp-content/plugins/progress-bar/css/wppb.css?ver=4.3.1' type='text/css' media='all' />
<link rel='stylesheet' id='stripe-checkout-button-css'  href='https://checkout.stripe.com/v3/checkout/button.css?ver=2.3.5' type='text/css' media='all' />
<link rel='stylesheet' id='pikaday-css'  href='http://www.theworkingworld.org/us/wp-content/plugins/stripe-checkout-pro-2.3.5/assets/css/vendor/pikaday.min.css?ver=2.3.5' type='text/css' media='all' />
<link rel='stylesheet' id='stripe-checkout-pro-public-css'  href='http://www.theworkingworld.org/us/wp-content/plugins/stripe-checkout-pro-2.3.5/assets/css/public-pro.min.css?ver=2.3.5' type='text/css' media='all' />
<link rel='stylesheet' id='contact-form-7-css'  href='http://www.theworkingworld.org/us/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=4.2.2' type='text/css' media='all' />
<link rel='stylesheet' id='ebor-body-font-css'  href='http://fonts.googleapis.com/css?family=Roboto%3A100%2C400%2C300%2C700%2C400italic%2C500&#038;ver=4.3.1' type='text/css' media='all' />
<link rel='stylesheet' id='ebor-alt-font-css'  href='http://fonts.googleapis.com/css?family=Montserrat%3A400%2C700&#038;ver=4.3.1' type='text/css' media='all' />
<link rel='stylesheet' id='ebor-bootstrap-css'  href='http://www.theworkingworld.org/us/wp-content/themes/machinewp/style/css/bootstrap.min.css?ver=4.3.1' type='text/css' media='all' />
<link rel='stylesheet' id='ebor-fonts-css'  href='http://www.theworkingworld.org/us/wp-content/themes/machinewp/style/css/fonts.css?ver=4.3.1' type='text/css' media='all' />
<link rel='stylesheet' id='ebor-plugins-css'  href='http://www.theworkingworld.org/us/wp-content/themes/machinewp/style/css/plugins.css?ver=4.3.1' type='text/css' media='all' />
<link rel='stylesheet' id='ebor-theme-styles-css'  href='http://www.theworkingworld.org/us/wp-content/uploads/wp-less-cache/ebor-theme-styles.css?ver=1442866073' type='text/css' media='all' />
<link rel='stylesheet' id='ebor-style-css'  href='http://www.theworkingworld.org/us/wp-content/themes/machinewp/style.css?ver=4.3.1' type='text/css' media='all' />
<style id='ebor-style-inline-css' type='text/css'>
.nav-container,.nav-container nav,.main-container{width:100%;max-width:100%;}
</style>
<script type='text/javascript' src='http://www.theworkingworld.org/us/wp-includes/js/jquery/jquery.js?ver=1.11.3'></script>
<script type='text/javascript' src='http://www.theworkingworld.org/us/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1'></script>
<script type='text/javascript' src='http://www.theworkingworld.org/us/wp-content/plugins/progress-bar/js/wppb_animate.js?ver=4.3.1'></script>
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://www.theworkingworld.org/us/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://www.theworkingworld.org/us/wp-includes/wlwmanifest.xml" /> 
<meta name="generator" content="WordPress 4.3.1" />
<link rel='canonical' href='http://www.theworkingworld.org/us/rails/' />
<link rel='shortlink' href='http://www.theworkingworld.org/us/?p=2936' />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href=""><link rel="apple-touch-icon-precomposed" sizes="114x114" href=""><link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://www.theworkingworld.org/us/wp-content/uploads/2015/08/Web-Favicon.png"><link rel="apple-touch-icon-precomposed" href="http://www.theworkingworld.org/us/wp-content/uploads/2015/08/Favicon-72x72.png"><link rel="shortcut icon" href="http://www.theworkingworld.org/us/wp-content/uploads/2015/08/Favicon-72x72.png"><meta name="generator" content="Powered by Visual Composer - drag and drop page builder for WordPress."/>
<!--[if IE 8]><link rel="stylesheet" type="text/css" href="http://www.theworkingworld.org/us/wp-content/plugins/js_composer/assets/css/vc-ie8.css" media="screen"><![endif]--><style type="text/css" id="custom-background-css">
body.custom-background { background-color: #ffffff; }
</style>
<%= yield :head %>
<meta http-equiv="Access-Control-Allow-Origin" content="*"></head>

<body class="page page-id-2936 page-template-default custom-background wpb-js-composer js-comp-ver-4.4.2 vc_responsive">

<div class="nav-container">
	
<nav class="nav-1 yamm nav-light standard-drops">

	<div class="container">
		<div class="row">
			<div class="col-xs-12">
			
				<a href="http://www.theworkingworld.org/us/" class="home-link">
											<img alt="The Working World" class="logo" src="http://www.theworkingworld.org/us/wp-content/uploads/2015/04/NFG-TWW-Logo.png" />
									</a>
				
				<ul id="menu-tww-us-main-site-navigation" class="menu"><li id="menu-item-2837" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2837"><a href="http://www.theworkingworld.org/us/our-mission/">Our Mission</a></li>
<li id="menu-item-3547" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3547"><a href="http://www.theworkingworld.org/us/loans">Our Investments</a></li>
<li id="menu-item-3004" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3004"><a href="http://www.theworkingworld.org/us/apply-for-a-loan/">Apply for a Loan</a></li>
<li id="menu-item-3081" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-3081 has-dropdown"><a href="http://www.theworkingworld.org/us/about-us/" data-toggle="dropdown" class="dropdown-toggle js-activated">About Us</a>
<ul role="menu" class=" subnav">
	<li id="menu-item-3113" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3113"><a href="http://www.theworkingworld.org/us/about-us/">Our History</a></li>
	<li id="menu-item-2972" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2972"><a href="http://www.theworkingworld.org/us/our-team/">Meet Our Team</a></li>
	<li id="menu-item-3016" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3016"><a href="http://www.theworkingworld.org/us/meet-our-board/">Meet Our Board</a></li>
	<li id="menu-item-3214" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3214"><a href="http://www.theworkingworld.org/us/meet-the-coops/">Meet the Cooperatives</a></li>
</ul>
</li>
<li id="menu-item-2827" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2827"><a href="http://www.theworkingworld.org/us/contact-simple-form/">Contact Us</a></li>
<li id="menu-item-3176" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3176"><a href="http://www.theworkingworld.org/us/donate-now/">Donate</a></li>
</ul>				
				<ul class="social-links">
					<li>
									      <a href="http://www.facebook.com/theworkingworld" target="_blank">
										      <i class="icon social_facebook"></i>
									      </a>
									  </li><li>
									      <a href="http://www.twitter.com/workingworldorg" target="_blank">
										      <i class="icon social_twitter"></i>
									      </a>
									  </li>				</ul>
			
				<div class="nav-functions">
					<div class="search-bar">
	<form class="search" method="get" id="searchform" action="http://www.theworkingworld.org/us/">
		<input type="text" id="s2" name="s" placeholder="" />
		<input type="submit" value="" />
		<i class="pe-7s-search"></i>
	</form>
</div>				</div>
				
			</div>
		</div><!--end of row-->
	</div><!--end of container-->

	<div class="mobile-toggle">
		<div class="bar-1"></div>
		<div class="bar-2"></div>
	</div>
	
</nav>		
</div>

<div class="main-container">		
		<section class="title-text-divider ebor-page-header">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
						<h2><%= yield :template %></h2>					</div>
				</div><!--end of row-->
			</div><!--end of container-->
		</section>
		

<section class="article-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<div>
					<%= yield :content %>
				</div>
			</div>
		</div><!--end of row-->
	</div><!--end of container-->
</section>		
						

<footer class="footer-2">
	<div class="container">
	
		<div class="row">
			<div class="col-sm-6">
				<a href="http://www.theworkingworld.org/us/" class="pull-left">
											<img alt="The Working World" class="logo" src="http://www.theworkingworld.org/us/wp-content/uploads/2015/04/NFG-TWW-Logo.png" />
									</a>
				
			</div>
		
			<div class="col-sm-6 text-right">
				<ul class="social-links">
					<li>
									      <a href="http://www.facebook.com/theworkingworld" target="_blank">
										      <i class="icon social_facebook"></i>
									      </a>
									  </li><li>
									      <a href="http://www.twitter.com/workingworldorg" target="_blank">
										      <i class="icon social_twitter"></i>
									      </a>
									  </li>				</ul>
			</div>
		</div><!--end of row-->
	
		<div class="row">
			<div class="col-xs-12">
				<div class="footer-lower">
					<span class="copyright">© 2015 The Working World, 394 Broadway, New York, NY 10013</span>
				</div>
			</div>
		</div><!--end of row-->
		
	</div><!--end of container-->
</footer>
</div><!-- end of main container -->

<script type='text/javascript' src='https://checkout.stripe.com/checkout.js'></script>
<script type='text/javascript' src='http://www.theworkingworld.org/us/wp-content/plugins/stripe-checkout-pro-2.3.5/assets/js/vendor/parsley.min.js?ver=2.3.5'></script>
<script type='text/javascript' src='http://www.theworkingworld.org/us/wp-content/plugins/stripe-checkout-pro-2.3.5/assets/js/vendor/moment.min.js?ver=2.3.5'></script>
<script type='text/javascript' src='http://www.theworkingworld.org/us/wp-content/plugins/stripe-checkout-pro-2.3.5/assets/js/vendor/pikaday.min.js?ver=2.3.5'></script>
<script type='text/javascript' src='http://www.theworkingworld.org/us/wp-content/plugins/stripe-checkout-pro-2.3.5/assets/js/vendor/pikaday-jquery.min.js?ver=2.3.5'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var sc_coup = {"ajaxurl":"http:\/\/www.theworkingworld.org\/us\/wp-admin\/admin-ajax.php"};
var sc_script = null;
/* ]]> */
</script>
<script type='text/javascript' src='http://www.theworkingworld.org/us/wp-content/plugins/stripe-checkout-pro-2.3.5/assets/js/public-main.min.js?ver=2.3.5'></script>
<script type='text/javascript' src='http://www.theworkingworld.org/us/wp-content/plugins/contact-form-7/includes/js/jquery.form.min.js?ver=3.51.0-2014.06.20'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var _wpcf7 = {"loaderUrl":"http:\/\/www.theworkingworld.org\/us\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif","sending":"Sending ..."};
/* ]]> */
</script>
<script type='text/javascript' src='http://www.theworkingworld.org/us/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=4.2.2'></script>
<script type='text/javascript' src='http://www.theworkingworld.org/us/wp-content/themes/machinewp/style/js/bootstrap.min.js?ver=4.3.1'></script>
<script type='text/javascript' src='http://www.theworkingworld.org/us/wp-content/themes/machinewp/style/js/plugins.js?ver=4.3.1'></script>
<script type='text/javascript' src='http://www.theworkingworld.org/us/wp-content/themes/machinewp/style/js/scripts.js?ver=4.3.1'></script>
</body>
</html>